/* ---- ELEMENTS ---- */
body{margin:0;padding:0;box-sizing:border-box;min-height:100vh;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;background-color: #fff2c5 !important;}
header{background-color:#13376B !important;padding:3px;}
nav{opacity:0.95;}
footer{background-color:#10b6b4 !important;}


/* ---- CLASSES ---- */
.navbar{background-color:#10b6b4 !important;}
.nav-link{color:#13376B !important;}
.active{background-color:#fed52b !important;border-radius:10px;}
.btn{background-color:#fed52b !important;  color: #13376B !important;}
.HeaderS{color: #13376B !important;}

.statsBox{width:220px;height:120px;border-radius:20px;padding:20px;margin: 20px;background-color: #13376B;border:2px solid #000 !important;box-shadow:17px 13px 20px 4px #000;}
.statsBox span{color: #e4c046;font-size: 1.8em;font-weight: 400;}

.postDiv{width:40vw;min-width:290px;height:fit-content; border-radius:12px;background-color: #13376B;box-shadow:17px 13px 20px 4px #000;}

select#Language, select#topicType{width:fit-content;height:fit-content;}

.card{max-width:200px !important;border:2px solid #000 !important;box-shadow:17px 13px 20px 4px #000;opacity:0.9;background-color: #13376B !important;}
.card-body{color:#fff !important;}
.sectDivider{border: 2.5px dashed #13376B; opacity: 0.6;}


/* ---- SECTIONS ---- */
section#ourStoryAndMission{color:#fff !important;width:80vw;opacity:0.9;border-radius:14px;box-shadow:17px 13px 20px 4px #000;background-color:#13376B;}

section#timeline{
    width: fit-content;
    color:#fff !important;
    opacity:0.9;
    border-radius:14px;
    box-shadow:17px 13px 20px 4px #000;
    background-color:#13376B;
}

section#contactUs .postDiv a{
    text-decoration: none;
    color: #fff;
}
section#contactUs form{
    background-color:#13376B;
    cursor:not-allowed;
    max-width:500px;
    border-radius:12px;
    box-shadow:7px 7px #000;
}