*{box-sizing: border-box;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.menu li a{font-size: 20px;}
h2, time{font-size: 22px;}
p{font-size: 20px;}

.primaryBG{background-color: #13376B;}
.secondaryBG{background-color: #11b9b8;}
.transparentBG{background-color: #ffffff4d;}
.primaryText{color: #13376B;}
.secondaryText{color: #fff2c5;}
.tertiaryText{color: #11b9b8;}

#banner1{background: url("../images/BannerLLH1.svg");background-repeat: no-repeat;background-position: bottom center;background-size: cover;}
#banner2{background: url("../images/BannerLLH2.svg"), url("../images/BannerLLH1.svg");background-repeat: no-repeat;background-position: top center, bottom center; background-size: cover; background-blend-mode: darken;}